* {
    box-sizing: border-box;
}

/* @font-face {
    font-fam
} */

body, html {
    margin: 0;
    background-color: #f9faf8;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.title {
    text-align: center;
    font-size: 3rem;
    padding: 2rem 0;
    margin: 0;
}

.main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.message-box {
    font-size: 1.5em;
    font-weight: 600;
    height: 1.5rem;
}

.board-grid {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    border: 2px solid #000000;
}

.cell {
    display: flex;
    border: 2px solid #000000;
    height: 150px;
    align-items: center;
    padding: auto;
    justify-content: center;
}

.cell:hover {
    cursor: pointer;
    background-color: rgb(230, 230, 230);
}

.marker {
font-size: 3rem;
}

.restart {
    all: unset;
    border: 1px solid #000000;
    padding: 1rem 2rem;
    font-size: 1.5em;
    border-radius: 1rem;
    font-weight: 600;
}
.restart:hover {
    background-color: rgb(230, 230, 230);
    cursor: pointer;
}